#app-root-2026-cdde .app {
  .cdde_tooltip {
    background: #fff;
    border-radius: 8px;
    border: 1px solid var(--un-color-grey-light);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    padding: 8px 12px;
    pointer-events: none;
    position: absolute;
    transform: translate(12px, -50%);
    white-space: nowrap;
    z-index: 300;
  }
  .cdde_tooltip--flip {
    transform: translate(calc(-100% - 12px), -50%);
  }
}
