#app-root-2026-cdde .app {
  .cdde_source {
    font-size: var(--un-font-size-xxs);
    color: var(--un-color-grey-text);
    margin: 12px 0 0;
    max-width: none;
    padding: 0;
    line-height: var(--un-line-height-normal);
  }
}
