#app-root-2026-cdde .app {
  .cdde_meta {
    margin: 12px 0 0;
  }

  .cdde_meta_row {
    font-size: var(--un-font-size-xxs);
    color: var(--un-color-grey-text);
    line-height: var(--un-line-height-normal);

    & + .cdde_meta_row {
      margin-top: 5px;
    }
  }
}
